@media screen and (min-width: 480px) and (max-width: 767px) {
.our-task {
    display: none;
}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-task {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .our-task {
    padding-bottom: 97px;
  }
  .task .container {
    margin-bottom: 50px;
  }
  .task-item {
    display: flex;
  }
  .task-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
  }
  
  .task-item-list {
    position: relative;
  
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .undertitle {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color);
  
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
