.team-section {
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}

.team-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team-item {
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-item-list {
  margin-bottom: 30px;
  max-width: 450px;
  font-size: 0;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    width: 354px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    padding-bottom: 30px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-designation {
  margin-top: 0px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  margin: auto;
  max-width: 206px;
  font-size: 0px;
}

.social-list-item {
  display: inline-flex;
  margin-left: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  color: #afb1b8;

  &:first-child {
    margin-left: 0px;
  }

  @media screen and (min-width: 1200px) {
    &:hover,
    &:focus {
      background-color: #2196f3;
      color: #ffffff;
    }
  }
}

.about--icon {
  fill: currentColor;
  margin: auto;
}